{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>
    <div class="hiphop_block">
        <h1>Хип-Хоп музыка</h1>
    </div>
        <a href="{% url 'hiphop:main_menu' %}" class="back-button">Назад</a>

    <p>
        Хип-хоп или хип-хоп-музыка (англ. hip hop music)[5][6][7], также известная как рэп-музыка (англ. rap music) и
        ранее известная как диско-рэп (англ. disco rap)[8][9] — музыкальный жанр популярной музыки, развитый в США
        афроамериканцами, латиноамериканцами и американцами стран Карибского бассейна[en][10], живущими в бедных районах
        Бронкса в Нью-Йорке в 1970-х годах[11]. Хип-хоп-музыка состоит из стилизованной ритмичной музыки, которая обычно
        сопровождается рэпом, ритмичной и рифмованной речью, которую произносят нараспев[12]. Хип-хоп-музыка развивалась
        как часть хип-хоп-культуры, субкультуры, определяемой четырьмя ключевыми стилистическими элементами:
        эмсиинг/исполнение рэпа, диджеинг/скретчинг с помощью виниловых проигрывателей, брейк-данс и рисование
        граффити[13][14][15]. Другие элементы включают семплирование битов или басовых линий из записей (или
        синтезированных битов и звуков) и ритмичный битбокс.

        Хотя термин «хип-хоп» часто используется исключительно для обозначения исполнения рэпа, он более точно
        обозначает практику всей субкультуры[16][17].

        Термин «хип-хоп-музыка» иногда используется как синоним термина «рэп-музыка»[12][18], хотя исполнение рэпа не
        является обязательным компонентом хип-хоп-музыки; жанр может также включать другие элементы хип-хоп-культуры, в
        том числе диджеинг, тёрнтейблизм, скретчинг, битбокс и инструментальные треки[19][20].

        Хип-хоп как музыкальный жанр и культура сформировался в 1970-х годах, когда районные вечеринки стали всё более
        популярными в Нью-Йорке, особенно среди афроамериканской молодёжи, проживающей в Бронксе. На районных вечеринках
        диджеи играли «брейки» (соло на ударных) популярных песен, используя два виниловых проигрывателя и диджейский
        микшер, чтобы иметь возможность проигрывать «брейки» из двух копий одной и той же записи, чередуя одну за другой
        и увеличивая «брейк»[21]. Раннее развитие хип-хопа происходило по мере того, как технология семплирования и
        драм-машины стали широко доступны и приемлемыми по цене. Наряду с «брейками» были разработаны методы
        тёрнтейблизма, такие как скретчинг и битматчинг, а поверх битов использовались ямайские распевы. Исполнение рэпа
        развивалось как вокальный стиль, в котором артист говорит или произносит слова нараспев ритмично с помощью
        инструментального или синтезированного бита.

        Хип-хоп-музыка официально не записывалась для воспроизведения на радио или телевидении до 1979 года, в основном
        из-за бедности во время зарождения жанра и отсутствия признания за пределами районов гетто[22]. Олдскул хип-хоп
        был первой мейнстримной волной в этом жанре, отмеченной влиянием диско и текстами, ориентированными на
        вечеринки. 1980-е годы ознаменовали собой диверсификацию хип-хопа, поскольку жанр развил более сложные стили и
        распространился по всему миру. Ньюскул хип-хоп был второй волной этого жанра, отмеченной электро-звуком, и
        привёл к золотой эре хип-хопа, новаторскому периоду между серединой 1980-х и серединой 1990-х. В это время
        приобрёл популярность поджанр гангста-рэп, сосредоточенный на насильственном образе жизни и обнищавших условиях
        жизни афроамериканской молодёжи в бедных района города. В начале-середине 1990-х в хип-хопе Западного побережья
        доминировал джи-фанк, в то время как в хип-хопе Восточного побережья доминировал джаз-рэп, альтернативный
        хип-хоп и хардкор-рэп. В это время хип-хоп продолжал диверсифицироваться с появлением других региональных
        стилей, таких как южный рэп и хип-хоп Атланты. Хип-хоп стал самым продаваемым жанром в середине 1990-х годов и
        самым продаваемым музыкальным жанром к 1999 году.

        Популярность хип-хоп-музыки сохранялась до конца 1990-х годов — середины 2000-х годов, в так называемую «эру
        украшений», и хип-хоп повлиял на другие жанры популярной музыки, такие как неосоул, ню-метал и R&B. В США также
        наблюдался успех региональных стилей, таких как кранк, южный жанр, который подчёркивал биты и музыку больше, чем
        лирику, и альтернативный хип-хоп, который начал закрепляться в мейнстриме, отчасти благодаря кроссовер-успеху
        его исполнителей. В конце 2000-х и начале 2010-х, в так называемую «эру блогов», рэперы смогли завоевать
        популярность с помощью онлайн-способов распространения музыки, таких как социальные сети и блоги, а мейнстрим
        хип-хоп получил более мелодичное, чувствительное направление после коммерческого упадка гангста-рэпа. Поджанры
        трэп и мамбл-рэп стали самой популярной формой хип-хопа в середине-конце 2010-х и начале 2020-х годов. В 2017
        году рок-музыка уступила хип-хопу место самого популярного жанра в США.
    </p>
</body>

{% endblock content %}