{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>
    <div class="hiphop_block">
        <h1>Джаз музыка</h1>
    </div>
    <a href="{% url 'hiphop:main_menu' %}" class="back-button">Назад</a>

    <p>
        Джаз (англ. jazz) — род музыкального искусства, сложившийся под влиянием африканских ритмов, европейской
        гармонии, с привлечением элементов афроамериканского и латиноамериканского фольклора[1][2][3].

        Джаз как явление возник в конце XIX — начале XX века[4] на юге США и быстро распространился во всех развитых
        странах[5][1]. Джаз как мультикультурное явление обогащался различными региональными музыкальными
        особенностями[6]. На развитие джаза также повлияли духовые оркестры, марширующие по праздникам на улицах городов
        США, а также военные и танцевальные оркестры. Популярная музыка и джаз в 1920-е годы стали для многих людей
        почти равнозначными понятиями, при этом американские критики, в первую очередь, противопоставили его
        коммерческой музыкальной индустрии США[7].

        Постоянно преображаясь и пройдя несколько характерных этапов развития, джаз достиг уровня высокого искусства[3].
        В течение 1920—1930—1940-х годов большие джазовые оркестры в составе до 20-40 музыкантов играли на танцах в
        жанре свинг. Малые ансамбли развивали экспериментальный, импровизационный джаз и би-боп. Современное значение
        термина появилось в 1950-х годах, когда джаз разных течений объединили в музыкальный жанр, с описанием,
        соединившим разные стили всех временных периодов[7][8]. Большинству разновидностей жанра свойственен свинг,
        вокальная экспрессия, импровизация, опора на риффы, использование ладов с блюзовыми нотами[2][1].

        Постепенно джаз приблизился к сфере высокого искусства, сохранив свою противоречивую тождественность как
        популярной, так и академической музыке[9]. Джаз остаётся престижным и поддерживается научными кругами,
        учредительными фондами, всемирной сетью фестивалей. Наследие джаза широко известно, и он продолжает влиять на
        мировую музыкальную культуру[10].
    </p>
    <p>
        Слово «jazz» (его вариации: «jas», «jass», «jascz», «jasz», «jaz») возникло как жаргонный термин на западном
        побережье примерно в 1910-х годах. Значение его менялось, но изначально не относилось к музыке. Термином «jazz»
        стали подразумевать музыку в Чикаго примерно в 1915 году. Историк джаза Лоуренс Гаши[en] в своих работах
        отмечал, что слово не происходит из Нового Орлеана и ранние джазовые музыканты не использовали его. Они
        добавляли элементы той же импровизации в регтайм и называли свою музыку «своей версией регтайма». Считается, что
        слово перекочевало туда в 1916 году лишь после того как оно активно использовалось на севере (подразумевают
        Чикаго) и тому подтверждением являются записанные с 1958 года для архива имени Уильяма Хогана в Тулейнском
        университете сотни интервью джазовых музыкантов в Новом Орлеане, родившихся между 1885 и 1901 годов[11].
        Американское диалектное общество[en] назвало слово «jazz» словом XX века в 2000 году[12].

        Один из ранних джазовых музыкантов Гарвин Бушелл[en] был уверен, что происхождение слова «jazz» относится к
        парфюмерной индустрии. В своей книге 1988 года «Jazz From the Beginning» он вспоминал о своих первых годах в
        музыке: «В те дни парфюмерная промышленность в Новом Орлеане была очень большой, поскольку французы привезли её
        с собой [из Старого света]. Они использовали масло жасмина во всех ароматах, чтобы придать им силы и бодрости.
        Поэтому они говорили: „let’s jass it up a bit“, когда что-то было немного „мёртвым“»[комм. 1]. Что
        примечательно, в дальнейшем похожую фразу использовали в сфере бейсбола. В 1920-х годах Джон Филип Суза
        предположил, что «jazz» вошёл в словарный запас американцев благодаря водевилю, на котором всё актеры в конце
        выступления возвращались на сцену, чтобы дать зажигательный и шумный финал, называемый «jazzbo»[комм. 1]. Оно
        является сложным словом, поскольку состоит из 2 корней — «jazz» и «bo», который по всей видимости был
        сокращением слова «boy» (с англ. — «мальчик»)[13].
    </p>
</body>

{% endblock content %}