{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>
    <div class="hiphop_block">
        <h1>Поп музыка</h1>
    </div>
    <a href="{% url 'hiphop:main_menu' %}" class="back-button">Назад</a>

    <p>
        Поп-му́зыка (англ. pop music от popular music; современная популярная музыка[1], жарг. попса) — область массовой
        культуры, охватывающая различные формы, жанры и стили развлекательной и прикладной музыки 2-й половины XX —
        начала XXI веков[2].

        Основные черты поп-музыки — простота инструментальной части, ритмичность, акцент на вокал. Основная и
        практически единственная форма композиции в поп-музыке — песня.

        Поп-музыка включает в себя такие поджанры, как k-pop, европоп, латина, синти-поп, диско, танцевальная музыка и
        другие.

    </p>
    <p>
        Впервые термин «pop song» в английском языке прозвучал ещё в 1926 году, однако корни поп-музыки уходят в историю
        глубже. Непосредственным предшественником поп-музыки была народная музыка, а также более поздние уличные романсы
        и баллады.

        Современная поп-музыка формировалась параллельно с другими жанрами, такими как рок-музыка, и не всегда была
        отделима от них. В 1950-е и 1960-е её наиболее типичной формой был т. н. «традиционный поп» (traditional pop),
        который в СССР было принято называть «эстрадная музыка», «эстрада». Традиционный поп исполняется певцом-солистом
        под фоновый аккомпанемент. В США эстрада была тесно связана с джазом (Фрэнк Синатра), во Франции — с шансоном.
        Аналогичные исполнители были популярны и в СССР — Леонид Утёсов, Клавдия Шульженко, Марк Бернес, Владимир
        Трошин. Значительную часть поп-музыкальной сцены США составляют чернокожие исполнители в жанре соул.

        Настоящим прорывом в поп-музыке стало появление в 1970-е стиля «диско» (евродиско) и таких групп, как ABBA,
        Boney M, Dschinghis Khan, Bee Gees. Поп-музыка отныне вытесняет рок-н-ролл в качестве основной танцевальной
        музыки на дискотеках, и с этого времени танцевальная музыка (dance music) является одним из основных направлений
        в поп-музыке.

        Благодаря появлению музыкального телевидения (в частности, телеканала MTV), в 1980-е формируется культура
        видеоклипов. В это время в США появляются такие звезды, как Принс, Майкл Джексон и Мадонна. На поп-музыку в этот
        период оказывают влияние хип-хоп, соул и ритм-энд-блюз. Хотя соул возник ещё в 1950-х, до 1980-х он оставался
        музыкой, которую слушали преимущественно афроамериканцы. Такие исполнители, как Уитни Хьюстон, Стиви Уандер и,
        конечно же, Рэй Чарльз, выступающий на R&B и соул-сцене с конца 1950-х, сделали этот стиль одним из основных в
        современной поп-музыке. В 1990-е и 2000-е к этому прибавляется танцевальная электронная музыка (рэйв).

        Музыкальные критики выделяют следующие критерии поп-музыки как музыкального жанра.

        Песни строятся по консервативной схеме куплет + припев. От поп-песни требуются простые, лёгкие для восприятия
        мелодии. Основной инструмент в поп-музыке — человеческий голос. Аккомпанементу уделяется второстепенная роль:
        аккомпанирующие поп-музыканты не играют соло и чаще всего не являются ни авторами песен, ни лидерами групп.
        Важную роль в поп-музыке играет ритмическая структура: многие поп-песни пишутся для танцев и имеют чёткий,
        неизменный бит.

        Основная музыкальная единица в поп-музыке — отдельная песня или сингл. Средняя длина песни, как правило, бывает
        от 2 до 4 минут, что соответствует стандартному радиоформату. Продолжительные композиции с обширными
        инструментальными партиями практически не встречаются, как и концептуальные альбомы.
        Мадонна — успешная певица в поп-музыке. Получила прозвище «королева поп-музыки»
        BoA — получила прозвище «королева корейской поп-музыки»
        Бритни Спирс — «принцесса поп-музыки»

        Тексты в поп-песнях, как правило, посвящены личным переживаниям, эмоциям: любви, грусти, радости. Большое
        значение имеет также визуальное представление песен: концертное шоу и видеоклипы. Поэтому многие поп-исполнители
        имеют экстравагантный имидж. В группу поп-исполнителя часто входят танцоры, статисты и прочие люди, не
        задействованные в исполнении музыки, но играющие важную роль на концертах.

        Несмотря на долгую и бурную историю, поп консервативен. Он имеет тенденцию отражать текущую музыкальную
        конъюнктуру, а не прогрессивные направления. Это связано с тем, что издатели, как правило, не настроены на
        коммерческий риск и благоволят исполнителям в проверенных жанрах. В связи с этим поп ориентирован на абстрактную
        среднюю аудиторию, а не субкультуру фанатов.


    </p>
</body>

{% endblock content %}